/* your code */
table{
	width: 100%;
	border: 2px solid gray;
	border-radius: 10px;
	border-spacing: 0;
}

th {
	background-color: steelblue;
}

th, td {
	padding: 10px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}